#map {
    height: 60vh;
    width: 50vw;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: center;
}

h1 {
    text-align: center;
}

p {
    width: 65%;
    margin: auto;
    margin-bottom: 2vh;
}

hr {
    width: 70%;
    margin: auto;
}

.w3-border {
    width: 65%;
    margin-top: 2vh;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #map {
        width: 100%;
    }
}