#map {
    height: 60vh;
    width: 50vw;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: center;
    margin-bottom: 4vh;
}

h1 {
    text-align: center;
    margin-top: 8vh;
}

.quote {
    text-align: justify;
    border-left: 4px solid #242526;
    /* background-color: #6CD77C; */
    padding: 0.5em 0.5em 0.5em 1em;
    width: 65%;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

hr {
    width: 70%;
    margin: auto;
}

.w3-border {
    width: 65%;
    margin-top: 2vh;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #map {
        width: 100%;
    }

    .w3-border {
        width: 90%;
    }

    .quote {
        text-align: left;
        width: 85%;
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
    text-align: center;
    max-height: 85vh;
    overflow-y: auto;
}

.popup img {
    width: 22em;
    height: 22em;
    object-fit: cover;
}

.close-container {
    position: relative;
    display: flex;
    top: 4.9em;
    width: 100%;
    justify-content: center;
}
.close {
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F2F2F2;
}

.close:hover {
    color: #06D85F;
}

.popup table {
    border-collapse: collapse;
}

.popup th,
.popup td {
    border: 1px solid #ddd;
    padding: 8px;
}

.popup th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    .popup {
        width: 90%;
    }

    .popup img {
        width: 12em;
        height: 12em;
        object-fit: cover;
    }
}

#map {
    z-index: 1;
}

.colab {
    text-align: center;
}

.colab-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.colab-content p {
    width: 30%;
}

.colab-content iframe {
    width: 40%;
    height: 50vh;
}